.loader {
    --c: radial-gradient(farthest-side, #afaebe 92%, #0000);
    background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
        var(--c) 0 50%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    animation: s7 1s infinite;
}
@keyframes s7 {
    to {
        transform: rotate(0.5turn);
    }
}

.container {
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadLoader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid var(--active-font);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 