.container {
    display: flex;
    align-items: center;
    gap: 5px;
}


.eye {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background-color: var(--box-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 44px;
    height: 24px;
    border-radius: 20px;
    background-color: var(--hover-button-color);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 5px;
}
.dot {
    transition: transform .2s ease;
}

.night .dot {
    transform: translate(-18px, 0);
}
