.tools {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.sortings {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.content {
    margin-top: 20px;
}

.sortingButton {
    background-color: var(--background-color);
    border-radius: 10px;
    width: 40px;
    border: 2px solid transparent;
    transition: border 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.sortingButton:hover {
    border: 2px solid #fbe0dc;
}

.sortingButton svg {
    fill: var(--grey-color);
    width: 20px;
    height: 20px;
}

.breedsSelect {
    width: 226px;
}

.bottomSection {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 375px) {
    .tools {
        flex-direction: column;
        gap: 10px;
    }

    .sortings {
        flex-direction: column;
        display: flex;
    }

    .breedsSelect {
        width: 100%;
    }
}
