.container {
    display: flex;
    gap: 10px;
}

.currentPath {
    height: 40px;
    background-color: var(--active-button-color);
    color: var(--active-font);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}