.container {
    padding: 38px 0 0 146px;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
}

.helloContainer {
    margin-top: 84px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.welcome h1 {
    font-size: 44px;
    font-weight: 500;
    display: flex;
}

.welcome span {
    color: var(--grey-color);
    font-size: 20px;
    margin-top: 10px;
}


.actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.actionsHeading {
    font-size: 20px;
}


.cards {
    display: flex;
    gap: 16px;
}


.inactive {
    display: none;
}

.logoText {
    fill: var(--logo-text-color);
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 38px 146px 0 146px;
    }

    .welcome {
        flex-direction: column;
    }
}

@media only screen and (max-width: 428px) {
    .container {
        padding: 20px;
    }

    .cards {
        flex-direction: column;
    }


}