

.canvas {
    background-color: var(--hover-button-color);
    width: 680px;
    height: 840px;
    border-radius: var(--default-radius);
    position: relative;
}

.girlAndPet {
    position: absolute;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 768px) {
    .girlAndPet {
        display: none;
    }
    .canvas {
        display: none;
    }
}
  