.container {
    background-color: var(--hover-button-color);
    fill: var(--inactive-font);
    transition: background-color .2s ease, fill .2s ease;
}

.container:hover {
    background-color: var(--active-button-color);
    fill: var(--active-font);
}

.container svg {
    width: inherit;
    height: inherit;
}

.container.bigButton { 
    background-color: var(--default-button-color);

}

.container.bigButton:hover {
    fill: var(--inactive-font);
    background-color: var(--hover-button-color);
}

.container.bigButton:active,
.bigButton.activeLink {
    background-color: var(--active-button-color);
    fill: var(--active-font);
}