.container {
    background-color: var(--hover-button-color);
    border-radius: 10px;
    fill: var(--inactive-font);
    transition: background-color .2s ease, fill .2s ease;
}

.container:hover {
    background-color: var(--active-button-color);
    fill: var(--active-font);
}

